<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>

  <appSettings>
    <add key="Validador" value="***"/>
    <add key="Licencia" value=""/>
    <add key="InfEmp" value="tAbD3Qnv/5CY4TIJRbVTpA"/>
    <add key="Skins" value="Money Twins"/>
    <add key="Update" value="S-12#WEB#http://www.juris-line.com.ve/imagenes/Update/"/>
  </appSettings>
  
    <connectionStrings>
        <add name="EnterpriseSolution.Properties.Settings.bdnominaConnectionString" connectionString="server=localhost;user id=root;password=123456;persistsecurityinfo=True;database=bdnomina20151112" providerName="MySql.Data.MySqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
